# Core
numpy
pandas
scipy

# Visualization
matplotlib
seaborn
plotly

# Machine Learning
scikit-learn
xgboost
# lightgbm
# catboost

# Deep Learning 
torch
torchvision
# torchaudio
 tensorflow
# keras

# NLP (optional)
# spacy
# nltk
# transformers

# Utilities
tqdm
jupyter
ipython
openpyxl
requests
